.headerwait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(248, 248, 247);
  margin: auto;
  text-align: center;
}
.headerwait h1 {
  font-size: 90px;
  font-weight: 900;
  color: rgb(141, 146, 216);
}
.headerwait p {
  font-size: 30px;
}
