.headerpara {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(248, 248, 247);
  margin: auto;
  overflow-y: auto;
  scrollbar-width: thin;
}
.headerparachoice {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.parachoice {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 0px;
  gap: 10px;
}
.parachoice p {
  border: 1px solid rgb(141, 146, 216);
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  background-color: rgb(141, 146, 216);
  font-weight: 900;
  padding: 20px 0px;
}
.parachoice p:hover:not(:first-child) {
  background-color: rgb(100, 105, 175);
  cursor: pointer;
}
.btnretour {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.paraChangePicture {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.changePicturepara {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.8);
  width: fit-content;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
}
.pictureparabtn {
  display: flex;
  gap: 15px;
}
.newpicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}
.newpicture img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 10px;
}
.headerChangePicture {
  width: 100%;
  background-color: seagreen;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.headerChangePicture #textpicture {
  height: 50px;
  border-radius: 10px;
  border: none;
  width: 40%;
  text-align: center;
  font-weight: 900;
}
