* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.generalMain {
  width: 100%;
  height: 100vh;
  display: flex;
}
.siderbarMain {
  width: 12%;
  height: 100vh;
}
.principalMain {
  width: 88%;
  height: 100vh;
}
